<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollador Web</title>
    <link rel="stylesheet" href="/static/estilos_1.css">
</head>
<body>
    <header>
        <div class="container"> 
           <p class="logo">Penguin Academy</p>
           <nav>
               <a href="#acerca-desarrolladores">Acerca de los Desarrolladores Web</a>
               <a href="#cursos-disponibles">Cursos Disponibles</a>
               <a href="#caracteristicas">Características</a>
           </nav> 
        </div>
    </header>

    <section id="hero">
        <h1>Desarrollador Web</h1>
        <button>INICIAR</button>
    </section>

    <section id="acerca-desarrolladores">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto"> 
            
                <h2> <span 
                class="color-acento">Desarrolladores Web</span> </h2>
                <p>Un programado web o desarrollador web es una persona que toma un diseño web y convierte en un sitio web, a través de códigos y utilizando una gran cantidad de lenguajes de programación. </p>
            </div>
            </div>
    </section>

    <section id="cursos-disponibles">
        <div class="container">
            <h2>Nuestros Cursos</h2>
            <div class="programas">
                    
                <div class="carta">
                    <h3>Coursera</h3>
                    <p>
                        Esta especialización cubre cómo escribir HTML5 y CSS3 sintácticamente correctos, y cómo crear experiencias web interactivas con JavaScript. El dominio de esta gama de tecnologías le permitirá desarrollar sitios web de alta calidad que funcionan sin problemas en dispositivos móviles, tabletas y navegadores de pantalla grande accesibles.</p>
                    <form action="https://es.coursera.org/courses?query=web%20development">
                        <button>Más info</button>
                    </form>
                </div>
                <div class="carta">
                    <h3>Udemy</h3>
                    <p>¿Quieres aprender a desarrollar sitios web profesionales? o eres ya programador y quieres dar el salto al próximo nivel? Inscríbete al único curso donde trabajas con un alojamiento REAL desde el principio...deja a un lado "servidores locales" y aprende desde cero todas las ultimas tecnologías webs demandadas por el mercado laboral.</p>
                    <form action="https://www.udemy.com/course/curso-de-desarrollo-web-completo-2/?utm_source=adwords&utm_medium=udemyads&utm_campaign=WebDevelopment_v.PROF_la.ES_cc.LATAM&utm_term=_._ag_122306548009_._ad_507479116479_._kw__._de_m_._dm__._pl__._ti_dsa-1190286624439_._li_1011782_._pd__._&matchtype=&gclid=CjwKCAiA9aKQBhBREiwAyGP5lTYRMGPB6N4KOU0qkmiNQPAKEN-BLMz_IQaUAgtpMCNK841y1GrrBRoCXToQAvD_BwE">
                        <button>Más info</button>
                    </form>
                </div>
                <div class="carta">
                    <h3>Platzi</h3>
                    <p>Aprende HTML y CSS desde cero, sin conocimientos previos. Conoce todo sobre etiquetas HTML, semántica, CSS, como dar estilos a los elementos de tu sitio web, medidas EM/REM, modelo de caja y mucho más. Aprenderás todo lo que necesitas para empezar en el desarrollo web online y a construir sitios para internet de manera eficiente.</p>
                    <form action="https://platzi.com/cursos/html-css/">
                        <button>Más info</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">  
            <ul>
                <li>✔️Dominio del código. </li>
                <li>✔️Reciclaje formativo.</li>
                <li>✔️Trabajo en equipo.</li>
            </ul>
        </div>
    </section>

    <section id="test">
        <h2>¿Estás indeciso? <br>¡Haz el test ya!</h2>
        <button>INICIAR</button>
    </section>

    <FOOter>
        <div class="container">
            <p>&copy; Penguin Academy 2022</p>
        </div>
    </FOOter>

</body>
</html>