<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollador Video</title>
    <link rel="stylesheet" href="/static/estilos_2.css">
</head>
<body>
    <header>
        <div class="container"> 
           <p class="logo">Penguin Academy</p>
           <nav>
               <a href="#acerca-desarrolladores">Acerca de los Desarrolladores Web</a>
               <a href="#cursos-disponibles">Cursos Disponibles</a>
               <a href="#caracteristicas">Características</a>
           </nav> 
        </div>
    </header>

    <section id="hero">
        <h1>¡Desarrollador Video!</h1>
        <button>INICIAR</button>
    </section>

    <section id="acerca-desarrolladores">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto"> 
            
                <h2> <span 
                class="color-acento">Desarrollador de Videojuego</span> </h2>
                <p>Un desarrollador de videojuegos se involucra directamente en la definición y programación de la mecánica del juego, así como el estudio de su jugabilidad y la evolución de los diferentes niveles de progresión.
                El alcance de su rol depende de la importancia del proyecto y las características del producto final. Sin embargo, el desarrollo de videojuegos suele involucrar profesionales de otras áreas como artistas visuales, especialistas de sonido y guionistas. </p>
            </div>
            </div>
    </section>

    <section id="cursos-disponibles">
        <div class="container">
            <h2>Nuestros Cursos</h2>
            <div class="programas">
                    
                <div class="carta">
                    <h3>Coursera</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis totam nisi corrupti, culpa odit. Et exercitationem saepe nemo explicabo, ratione deserunt amet in iure necessitatibus, fugit beatae atque voluptates!</p>
                    <form action="https://es.coursera.org/?utm_source=gg&utm_medium=sem&utm_campaign=95-BrandedSearch-Spanish-LATAM&utm_content=B2C&campaignid=12247707079&adgroupid=114147084941&device=c&keyword=coursera&matchtype=b&network=g&devicemodel=&adpostion=&creativeid=496323226698&hide_mobile_promo&gclid=Cj0KCQiA3rKQBhCNARIsACUEW_ZavO9GgXYJ43ryCbglpGmbzi4DaQt8F1jaV-hw_C7hEkQcbgnlvY8aAp8WEALw_wcB">
                        <button>Más info</button>
                    </form>
                </div>
                <div class="carta">
                    <h3>Udemy</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio est, error dolorem aliquid fugit culpa sapiente similique quidem temporibus pariatur neque, numquam alias doloribus quia molestiae possimus eos dicta vero!</p>
                    <form action="https://www.udemy.com/?deal_code=&utm_term=Homepage&utm_content=Textlink&utm_campaign=Rakuten-default&ranMID=39197&ranEAID=HtPvL28WFys&ranSiteID=HtPvL28WFys-MUka5va3jwBZiUPPA8ez3g&utm_source=aff-campaign&LSNPUBID=HtPvL28WFys&utm_medium=udemyads">
                        <button>Más info</button>
                    </form>
                </div>
                <div class="carta">
                    <h3>Platzi</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rem incidunt sit natus in voluptatum. Optio quisquam excepturi minima consectetur, vel quibusdam a. Molestiae doloribus aperiam sunt? Minus, sit ab.</p>
                    <form action="https://platzi.com/">
                        <button>Más info</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">  
            <ul>
                <li>✔️Ser un apasionado de los videojuegos.</li>
                <li>✔️Comunicación y trabajo en equipo.</li>
                <li>✔️Ser constante sin perder la motivación</li>
            </ul>
        </div>
    </section>

    <section id="test">
        <h2>¿Estás indeciso? <br>¡Haz el test ya!</h2>
        <button>INICIAR</button>
    </section>

    <FOOter>
        <div class="container">
            <p>&copy; Penguin Academy 2022</p>
        </div>
    </FOOter>

</body>
</html>