<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Penguin</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="/static/estilos.css">
</head>  
<body>
    <form class="formulario" action="/registrarvista" method="POST">
    
        <h1>Regístrate</h1>
        <div class="contenedor">
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" name="nombre" placeholder="Nombre completo">
        
        </div>
        
        <div class="input-contenedor">
        <i class="fas fa-envelope icon"></i>
        <input type="email" name="email" placeholder="Correo electrónico">
        
        </div>
        
        <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
        <input type="password" name="password" placeholder="Contraseña">
        
        </div>
        <input type="submit" value="Regístrate" class="button">
        <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
        <p>¿Ya tienes una cuenta?<a class="link" href="/login"> Iniciar Sesión</a></p>
    </div>
    </form>
</body>
</html>