<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="static/estilos-test.css">
	
    <title>TEST DE PROGRAMADOR</title>
</head>
<body>
<form method="POST" action="/test">
    <section id="banner">
        <img src="../static/imagen02.jpg">
        <div class="contenedor">
        <h1>¡Bienvenido al Test de Programador!</h1>
        <h2>Penguin Academy tiene cursos interesantes para vos</h2>
        <h2>Este test te ayudará a saber cuál te interesa más</h2>
        
        <!--a href="#">INICIAR</a></div-->
    </section>
    <h2>Instrucciones para el test:</h2>
    <h3>Si te interesa mucho ingresa '5'</h3>
    <h3>si te interesa suficiente ingresa '4'</h3>
    <h3>si te interesa más o menos ingresa '3'</h3> 
    <h3>si te interesa poco ingresa '2'</h3> 
    <h3>si no te interesa ingresa '1'</h3></div><br>
    <h2>El test empieza aqui:</h2>
    <h3><label for="dsuno">1. Te interesa aprender sobre Inteligencia Artificial</label></h3>
    <p><input id="dsuno" type="number" name="dsuno" min=1 max=5/></p>
    <h3><label for="vuno">2. Te interesa desarrollar videojuegos</label></h3>
    <p><input id="vuno" type="number" name="vuno" min=1 max=5/></p>
    <h3><label for="fluno">3. Quieres aprender programacion por diversion</label></h3>
    <p><input id="fluno" type="number" name="fluno" min=1 max=5/></p>
    <h3><label for="wduno">4. Deseas disenar paginas webs</label></h3>
    <p><input id="wduno" type="number" name="wduno" min=1 max=5/></p>
    <h3><label for="auno">5. Deseas trabajar en android e ios</label></h3>
    <p><input id="auno" type="number" name="auno" min=1 max=5/></p>
    <h3><label for="iuno">6. Te interesa aprendersobre microprocesadores</label></h3>
    <p><input id="iuno" type="number" name="iuno" min=1 max=5/></p>
    <h3><label for="dsdos">7.Te interesa aprender sobre procesamiento de datos</label></h3>
    <p><input id="dsdos" type="number" name="dsdos" min=1 max=5/></p>
    <h3><label for="vdos">8. Quieres adquirir conocimiento en animación</label></h3>
    <p><input id="vdos" type="number" name="vdos" min=1 max=5/></p>
    <h3><label for="fldos">9. Quieres aprender programacion por diversion</label></h3>
    <p><input id="fldos" type="number" name="fldos" min=1 max=5/></p>
    <h3><label for="wddos">10. Deseas disenar paginas webs</label></h3>
    <p><input id="wddos" type="number" name="wddos" min=1 max=5/></p>
    <h3><label for="ados">11. desarrollar aplicaciones para móvil</label></h3>
    <p><input id="ados" type="number" name="ados" min=1 max=5/></p>
    <h3><label for="idos">12. Te interesa aprendersobre microprocesadores</label></h3>
    <p><input id="idos" type="number" name="idos" min=1 max=5/></p>
    <h3><label for="dstres">13. Le interesa aprender sobre IA</label></h3>
    <p><input id="dstres" type="number" name="dstres" min=1 max=5/></p>
    <h3><label for="vtres">14. Quieres programar para subir cosas a la web</label></h3>
    <p><input id="vtres" type="number" name="vtres" min=1 max=5/></p>
    <h3><label for="fltres">15. Quieres ser un programador completo</label></h3>
    <p><input id="fltres" type="number" name="fltres" min=1 max=5/></p>
    <h3><label for="wdtres">16. Te interesa disenar paginas webs</label></h3>
    <p><input id="wdtres" type="number" name="wdtres" min=1 max=5/></p>
    <h3><label for="atres">17. Te gusta ayudar a los demás a programar</label></h3>
    <p><input id="atres" type="number" name="atres" min=1 max=5/></p>
    <h3><label for="itres">18. Te interesa tener desafios de codigos de programacion</label></h3>
    <p><input id="itres" type="number" name="itres" min=1 max=5/></p>
    <p><input type="submit" value="OBTENER RESULTADO" /></p>


</form>    
<h2>{{results}}</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>